@font-face {
    font-family: "exo";
	src:url(../fonts/exo.otf) format("truetype");
}
@font-face {
    font-family: "exo2";
	src:url(../fonts/BentonSans.otf) format("truetype");
}



body{
	margin: 0px;
	font-family: "exo";
}
#runner{
	width: 100%;
	height: 60px;
	background-color: #292929;
}
#contbx{
	width: 1000px;
	min-height: 60px;
	margin: 0 auto;
}
#topbanner{
	width: 100%;
	height: 60px;
}
#logobx{
	float: left;
	width: 60px;
	height: 60px;
	background-image: url(../img/logox.png);
	background-size: 100%;
	cursor: pointer;

}
#navbarbx{
	float: right;
	width: 70%;
	height: 100%;
}

#navbarbx ul{
	float: right;
	font-weight: bolder;
}

#navbarbx ul li{
	display: inline-block;
	color: #ffffff;
	margin: 0 10px;
	padding: 9px;
}

.activetab{
	border-bottom: 5px solid #3a9bff;
}

#navbarbx ul li:hover{
	border-bottom: 5px solid #3a9bff;
}

#sliderbx{
	width: 100%;
	height: 500px;
	background-image: url(../img/banner.jpg);
	background-size: cover;
}
#newsbx{
	width: 1000px;
	height: 320px;
	margin: 0 auto;
	margin-bottom: 20px;
}
.titlebar{
	float: left;
	width: 100%;
	height: 40px;
	margin-top: 10px;
}
.titlebar span{
	float: left;
	margin-left: 5px;
	padding: 0 5px;
	border-bottom: 2px solid #585858;
	font-weight: bolder;
	color: #585858;
	font-size: 24px;
}
.newscntbx{
	float: left;
    width: 230px;
    cursor: pointer;
    margin: 0 10px;
    height: 220px;
    background-color: #3a9bff;
}
.newspicbx{
	float: left;
	width: 100%;
	height: 145px;
	overflow: hidden;
	border-bottom: 3px solid #ffffff;
}
.newspicbx img{
	width: 100%;
}
.newstxtbx{
	width: 96%;
	height: 60px;
	font-family: sans-serif;
	float: left;
	font-size: 14px;
	padding: 4px;
	overflow: hidden;
	color: #ffffff;
}
#footercnt{
	width: 100%;
    height: 200px;
    bottom: 0;
    position: absolute;
    background-color: #4d4d4d;
    border-top: 4px solid #ffd700;
}
#qicklnks{
	width: 1000px;
	height: 260px;
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 20px;
}
.qlinkbx{
	float: left;
    width: 150px;
    cursor: pointer;
    margin: 0px 50px;
    height: 260px;
}
.qltopbx{
	float: left;
    width: 150px;
    height: 150px;
    border-radius: 100px;
    border: 2px solid #3a9bff;
}
.qlinkname{
	float: left;
    width: 100%;
    margin-top: 10px;
    height: 35px;
    font-weight: bolder;
    font-size: 12px;
    text-align: center;
    border-radius: 20px;
    background-color: #b3ff3a;
    color: #000;
}
.qlinkname span{
	margin-top: 10px;
    float: left;
    width: 100%;
}
.linkicon{
    float: left;
    text-align: center;
    line-height: 50px;
    font-size: 50px;
    width: 100px;
    color: #3a9bff;
    margin-left: 25px;
    margin-top: 55px;
    height: 100px;
    font-family: 'FontAwesome';
}
.regicon:before{
	content: "\f0c0";
}
.checkpost:before{
	content: "\f21d";
}
.company:before{
	content: "\f1ad";
}
.school:before{
	content: "\f19d";
}
#main{
	width: 100%;
	height: 450px;
}
#student{
	width:500px;
	height:210px;
	margin: 0 auto;
	margin-top: 55px;
}
#log{
	 font-family: "exo";
     text-transform: capitalize;
     font-size:20px;
}
.studntidf{
	width: 410px;
	height: 40px;
	margin-left: 50px;
	margin-top: 20px;
	float: left;
}
#submit{
    width: 300px;
    height: 35px;
    margin: 0 21%;
    float: left;
    font-family: "exo";
    margin-top: 20px;
    background-color: #adad44;
    cursor: pointer;
     border: 4px solid rgba(138, 115, 12, 0.31);
    text-transform: capitalize;
}
.log{
	width: 90px;
    height: 30px;
    float: right;
    font-family: "exo";
    margin-top: 20px;
    cursor: pointer;
    background-color: white;
    border:0;
    text-transform: capitalize;
}
.stdntf{
 width:300px;
 height: 35px;
 padding-left: 4px;
 margin: 0 auto;
 font-family: "exo";
 font-color: #c7c74b;
 text-transform: capitalize;
}
#one{
	width:100%;
	float:left;
	text-align: center;
}
#form{
	width: 1000px;
	min-height: 100px;
	float: left;
	margin-left: 50px;
	margin-top: 20px;
}
.finfo{
	width: 100%;
	height: 50px;
	margin-top: 20px;
	float: left;
	text-transform: capitalize;
}
.info{
	width: 248px;
	height: 40px;
	float: left;
	margin-top: 7px;
	text-transform: capitalize;
	padding-right: 5px;
}
.drop{
	width: 305px;
	height: 40px;
	text-transform: capitalize;
}
.field{
	width: 400px;
	height: 30px;
	margin: 0 auto;
	float: left;
}
.dob{
	width: 500px;
	height: 40px;
	float: left;
}
.day{
	width: 100px;
	height: 40px;
	float: left;
	margin-left: 5px;
	text-transform: capitalize;
}
.sub{
	width: 100px;
    height: 40px;
    margin: 0 50%;
    float: left;
    font-family: "exo";
    margin-top: 10px;
    margin-bottom: 50px;
    cursor: pointer;
    border: 4px solid rgba(138, 115, 12, 0.12);
    text-transform: capitalize;
}
.yes{
	width: 20%;
	height: 30px;
	float: left;
	text-transform: capitalize;
}
.regions{
	margin-left: 5px;
	width: 190px;
    height: 40px;
    float: left;
    text-transform: capitalize;
}
.region{
	margin: 0 auto;
}
.opt{
	margin-left: 5px;
	margin-top: 5px;
	width: 250px;
    height: 40px;
    float: left;
    text-transform: capitalize;
}